body{
  font-family: "Lato";
  overflow-x: hidden;
}






/****************************************************/
/***********  HEADER IMAGE AND TEXT    **************/
/****************************************************/
#headerGif{
    width: 400px;
    margin: 0 auto;
    display: block;
    margin-top: calc(50vh - 310px);
}
#headerTitle{
  width: 960px;
  margin: 0 auto;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
}
#headerSub{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
    width: 370px;
    text-align: center;
    margin-top: 14px;
}
#headerDate{
  color: white;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 32px;
}
#downArrowContainer{
position: absolute;
    top: calc(100vh - 200px);
    animation: bob 5s infinite;
    left: calc(50% - 36px);
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    z-index: 100;
    color: black;
    font-weight: 400;
}
#socialContainer{
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 21px;
}
.socialShare{
    width: 24px;
    margin-right: 16px;
    cursor: pointer;
}
#social-email{
  margin-right: 0px;
}
#downArrowContainer img{
    height: 142px;
    left: 34px;
    position: relative;
}
#downArrowContainer div{
  margin-top: 10px;
}
@keyframes bobIntervention {
  0% {
    bottom: 59px;
  }
  50% {
    bottom: 39px;
  }
  100%{
    bottom: 59px;
  }
}
@keyframes bob {
  0% {
    top: calc(100vh - 220px);;
  }
  50% {
    top: calc(100vh - 240px);;
  }
  100%{
    top: calc(100vh - 220px);;
  }
}
  .pickScenario.step, .step.lastStep{
    min-height: 42vh;
    height: 42vh;
  }

  .pickScenario.step h2{
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-bottom: 22px;
  }
  .pickScenario.step p{
    font-size: 20px;
    font-weight: normal;
  }
  #orRead{
    margin-top: 24px;
  }
/****************************************************/
/***************  INTRO NAV    **********************/
/****************************************************/
#chapterLabelContainer{
    position: fixed;
    padding-top: 55px;
    padding-left: 63px;
    padding-bottom: 10px;
    background: white;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: calc(50vw - 100px);
    opacity: 1;
}
#chapterLabel{
      font-size: 30px;
    font-weight: 100;
}
#chapterHeader{
  font-size: 14px;
  font-style: italic;
}
#scrollNavContainer{
    position: fixed;
    width: 40px;
    height: 360px;
    top: calc(50vh - 180px);
    left: 43px;
    z-index: 10;
}
#scrollNavBar{
    height: 290px;
    position: absolute;
    width: 2px;
    background: #d2d2d2;
    left: 20px;
    top: 24px;
}
.scrollNavEl{
  height: 94px;
  display: block;
  width: 40px;
  z-index: 11;
  cursor: pointer;
}
.scrollNavEl:hover .scrollNavDot, .scrollNavEl.active .scrollNavDot{
  background: #1696d2;
}
.scrollNavDot{
  width: 14px;
  height: 14px;
  background: #d2d2d2;
  left: 14px;
  position: relative;
  top: 22px;
  border-radius: 100%;
}
/****************************************************/
/**************  INTRO SLIDES    ********************/
/****************************************************/

/************* PERSON AND PATHS *************/
#person{
    width: 439px;
    position: absolute;
    z-index: -1;
    top: 100px;
}
.pathImg{
  position: absolute;
  z-index: -1;
  top: 212px;
  width: 700px;
  opacity: 0;
  left: -99px;
}

/************* FULL WIDTH TEXT **************/

.step.giantStep{
    opacity: 1;
    width: 982px;
    font-size: 48px;
    color: #696969;
    line-height: 60px !important;
    font-weight: bold;
    text-align: center;
}



/************* CHARTS **************/

#introAxisLabel{
  text-anchor: middle;
  font-weight: bold;
  font-size: 16px;
  fill: #9d9d9d;
}
#upArrowInt{
  width: 50px;
  position: absolute;
  bottom: 40px;
  left: 165px;
  animation: bobIntervention 2s infinite;
  opacity: 0;
  display: none !important;
}


/****************************************************/
/********** SELECT A SCENARIO SCREEN ****************/
/****************************************************/
#selectScenarioContainer{
  position: fixed;
  top: 0px;
  right: -700px;
  z-index: 6;
}
.scenarioCardContainer{
  width: 300px;
  border-bottom: 9px solid #fdbf11;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 35px;
}
@keyframes carouselUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(calc(-1000px - 35px*4))}
}
@keyframes carouselDown {
  100% { transform: translateY(0); }
  0% { transform: translateY(calc(-1050px - 35px*4))}
}

#selectScenarioLeft {
  animation: carouselUp 45s linear infinite;
  width: 300px;
  display: inline-block;
}
#selectScenarioLeft:hover{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}
#selectScenarioRight {
  animation: carouselDown 45s linear infinite;
  width: 300px;
  display: inline-block;
  margin-left: 50px;
}
#selectScenarioRight:hover{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}

.scenarioCardContainer.race{
  height: 250px;
  background-image: url('../images/scenarios/thumbs/race.jpg')
}
.scenarioCardContainer.race:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/race_hover.jpg')
}
.scenarioCardContainer.justice{
  height: 300px;
  background-image: url('../images/scenarios/thumbs/justice.jpg')
}
.scenarioCardContainer.justice:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/justice_hover.jpg')
}
.scenarioCardContainer.job_quality{
  height: 200px;
  background-image: url('../images/scenarios/thumbs/job_quality.jpg')
}
.scenarioCardContainer.job_quality:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/job_quality_hover.jpg')
}
.scenarioCardContainer.comm{
  height: 250px;
  background-image: url('../images/scenarios/thumbs/comm.jpg')
}
.scenarioCardContainer.comm:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/comm_hover.jpg')
}
.scenarioCardContainer.aa{
  height: 200px;
  background-image: url('../images/scenarios/thumbs/aa.jpg')
}
.scenarioCardContainer.aa:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/aa_hover.jpg')
}
.scenarioCardContainer.ba{
  height: 250px;
  background-image: url('../images/scenarios/thumbs/ba.jpg')
}
.scenarioCardContainer.ba:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/ba_hover.jpg')
}
.scenarioCardContainer.hs{
  height: 250px;
  background-image: url('../images/scenarios/thumbs/hs.jpg')
}
.scenarioCardContainer.hs:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/hs_hover.jpg')
}
.scenarioCardContainer.job_training{
  height: 350px;
  background-image: url('../images/scenarios/thumbs/job_training.jpg')
}
.scenarioCardContainer.job_training:hover{
  background-image: url('../images/scenarios/thumbs/rollovers/job_training_hover.jpg')
}
.scenarioSelectButton{
  background: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 16px;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  position: absolute;
  bottom: 32px;
  right: 13px;
  cursor: pointer;
}
.scenarioSelectButton.comm{
  max-width: 234px;
  text-align: right;
}
/****************************************************/
/*************** SCENARIO OVERLAY *******************/
/****************************************************/
#allOverlays{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
}
#overlayImage, #overlayImageTmp{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 0;
  display: none;
}
.overlayContainer{
  position: absolute;
  width: 100vw;
  opacity: 0;
  display: none;
}
.overlayCard{
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  float: left;
  background: rgba(255,255,255,.9);
}
.overlayCard.card1{
  background: rgba(0,0,0,.65);
}
.overlayCard.card2{
  left: 100vw;
}
.overlayCard.card3{
  left: 200vw;
  
}
.overlayCard.card4{
  left: 300vw;
}
.overlayCard.card5{
  left: 400vw;
  background: white;
}
.overlayCard.card6{
  left: 500vw;
}
.overlayCard h1{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 25vh;
  margin-bottom: 75px;
  font-size: 64px;
  font-weight: 700;
}
.card1Subhead{
  color: white;
  font-size: 36px;
  font-weight: 700;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}
.overlayEl{
  opacity: 0;
}
#overlayNavBar{
  width: 580px;
  position: fixed;
  bottom: 15px;
  height: 50px;
  left: calc(50% - 290px);
  z-index: 23;
}
#overlayNavBar.inverted .overlayNavContainer .overlayNavDot{
  background: #ffffff;
}
.overlayNavContainer{
  width: 116px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  top: -5px;
}
.overlayNavContainer.card1{
  left: -58px;
}
.overlayNavContainer.card2{
  left: 58px;
}
.overlayNavContainer.card3{
  left: 174px;
}
.overlayNavContainer.card4{
  left: 290px;
}
.overlayNavContainer.card5{
  left: 406px;
}
.overlayNavContainer.card6{
  left: 522px;
}
.overlayNavContainer .overlayNavDot{
  position: relative;
  width: 16px;
  height: 16px;
  left: 58px;
  top: 17px;
  border-radius: 100%;
  border: 2px solid #696969;
  background: #9d9d9d;
}
.overlayNavContainer.active .overlayNavDot{
  background: #fdbf11 !important;
  border-color: #000 !important;
}
.overlayNavContainer:hover .overlayNavDot{
  background: #fdbf11 !important;
}
#overlayNavTrack{
  background: #d2d2d2;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 30px;
}
#leftNav{
  pointer-events: none;
  position: fixed;
  left: 0px;
  top: calc(50vh - 53px);
  cursor: pointer;
  z-index: 23;
}
#rightNav{
  pointer-events: none;
  position: fixed;
  right: 85px;
  top: calc(50vh - 53px);
  cursor: pointer;
  z-index: 23;
}
.overlayNavArrow img{
  height: 85px;
  position: absolute;
  top: 11px;
  left: 14px;
  opacity: 0;
}
#rightNav img{
  transform: rotate(180deg);
  left: 22px;
}
.overlayNavArrow div{
  background: #fdbf11;
  width: 85px;
  height: 106px;
  opacity: 0;
  position: absolute;
}
.overlayNavArrow:hover div{
  opacity: 1 !important;
}
#closeOverlay{
  opacity: 1; 
  position: fixed;
  right: 20px;
  top: 30px;
  width: 48px;
  cursor: pointer;
  opacity: 0;
  z-index: 23;
}
#closeOverlayImg{
  width: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
}
/*#closeOverlayHoverImg{
  width: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
  display: none;
}*/
#closerOverlayBg{
  position: absolute;
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 2px solid #d2d2d2;
  border-radius: 100%;
}
#closeOverlay.inverted #closerOverlayBg{
  background: #f5f5f5;
}
#closeOverlay:hover #closerOverlayBg{
  background: #fdbf11;
  border: 2px solid #000000;
}
/*#closeOverlay:hover #closeOverlayImg{
  display: none;
}*/
/*#closeOverlay:hover #closeOverlayHoverImg{
  display: block;
}*/
.overlayTextContainer{
  width: 707px;
  position: absolute;
  top: 200px;
  left: calc(50vw - 358.5px);
  font-size: 20px;
  font-weight: 400;
  line-height: 32.5px;
}
.overlayTextContainer h2, .endText h2{
  font-weight: 700;
  font-size: 36px;
  color: #000;
}
.overlayChartTextContainer{
  position: absolute;
  left: 98px;
  top: 68px;
  height: 143px;
  font-weight: 700;
  font-size: 18px;
}
.overlayChartTextContainer h2{
  color: black;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 15px;
}
.overlaySelectMenu, .overlaySelectMenu:hover, .overlaySelectMenu:focus, .mainSelectMenu, .mainSelectMenu:hover, .mainSelectMenu:focus{
  background: none;
    border: none;
    color: black;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid #fdbf11;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 0px;
    padding-bottom: 7px;
    margin-top: 27px;
    margin-left: 20px;
}
.mainSelectMenu{
margin-bottom: 30px;
    left: -20px;
}
.ui-button .ui-icon{
  background-image: url(../images/menuDown.png) !important;
  background-size: cover;
  width: 31px;
   height: 18px; 
  display: inline-block;
  background-position: 0 0;
  margin-left: 10px;
  top: 7px;
}
.ui-button.inverted .ui-icon{
  background-image: url(../images/menuDownWhite.png) !important;
}
.overlaySelectMenu.inverted{
    color: #fff !important;
}
.ui-selectmenu-text{
  padding: 0px;
  margin: 0px;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
/****************************************************/
/*************** SCENARIO CHART *********************/
/****************************************************/

#fixedChartContainer{
  position: fixed;
  z-index: 22;
  left: 100vw;
  top: 250px;
}
#fixedChartContainer svg text{
  font-family: Lato;
  font-size: 14px;
}
.overlayChartTextContainer p{
  /*display: none;*/
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  font-style: italic;
}
.foo{
  position: fixed;
  top: 20px;
  left: 20px;
  display: none;
}
.overlayEl.eyebrow{
    position: fixed;
    left: 21px;
    top: 7px;
    color: black;
    font-style: italic;
    font-size: 14px;
}
.overlayEl.eyebrow.inverted{
    color: white;
}
.yaxisLabelContainer{
position: absolute;
    top: 143px;
    width: 130px;
}
.yaxisLabel{
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 15px;
  border-bottom: 5px solid #a2d4ec;
  cursor: pointer;
}
.yaxisLabel:hover{
  border-bottom: 5px solid #1696d2;
}
.yaxisTt.generalTT{
  display: none;
  left: -28px;
  top: 45px;
}
.legendContainer{
  position: absolute;
  font-size: 14px;
  font-weight: normal;
  right: 100px;
  top: 143px;
}
.legendRow{
    display: inline-block;
    margin-left: 30px;
    width: 170px;
    position: relative;
}
.legendRow span{
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: -12px;
    top: 5px;
}
.legendRow.before, .legendRow.none{
    top: -17px;
    position: relative;
    margin-right: -17px;
}
.legendRow.none{
  margin-right: -55px;
}
.legendRow.before span{
    border: 1px solid black;
}
.legendRow.increase span{
      border: 1px solid #1696d2;
      background: #1696d2;

}
.legendRow.decrease span{
      border: 1px solid #ca5800;
      background: #ca5800;
}
.legendRow.none span{
    border: 1px solid #9d9d9d;
    background: #9d9d9d; 
}

.generalTT {
  position: absolute;
  /*background: #696969;*/
  /*font-size: 16px;*/
  width: 180px;
  z-index: 100;
  font-weight: normal;
  font-style: italic;
  padding: 20px;
  pointer-events: none;
  background: #f5f5f5;
  border: #d2d2d2 solid 1px;
  font-size: 14px;
  color: #353535;
}
.generalTT:after {
/*  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(210, 210, 210, 0);
  border-right-color: #696969;
  border-width: 12px;
  margin-top: -12px;*/
}
.whiteTt{
    display: none;
    position: fixed;
    bottom: 106px;
    width: 380px;
    z-index: 100;
    font-style: italic;
    pointer-events: none;
    padding: 20px;
    background: #f5f5f5;
    border: #d2d2d2 solid 1px;
    font-size: 14px;
    color: #353535;
}

.whiteTt.women:after{
}

#liftetimeEarningsInline, #whiteInline{
  position: relative;
  border-bottom: 5px solid #a2d4ec;
  cursor: pointer;
}
#liftetimeEarningsInline:hover, #whiteInline:hover{
  border-bottom: 5px solid #1696d2;
}
.generalTT.lifetimeInline{
top: 42px;
    position: absolute;
    left: 0px;
  display: none;
}
.generalTT.whiteInline{
  position: absolute;
  display: none;
width: 323px;
    left: -116px;
    top: 42px;
}

/****************************************************/
/*************** BOTTOM CONTENT *********************/
/****************************************************/
.endText h2{
  margin-bottom: 20px;
}
.endText{
  width: 715px !important;
  padding: 0 !important;
  margin-bottom: 35vh !important;
}
.step.lastStep{
  /*min-height: 20vh;*/
}
.step.firstStep{
  min-height: 0px;
  height: 20px;
}
.step.secondStep{
  opacity: 1 !important;
}
#temp_logos{
  width: 698px;
  margin-top: 40px;
  margin-left: -4px;
}






.container {
  width: 1180px;
  margin: 0 auto;
  /* makes up for negative margin at top and removal of 80px padding*/
  padding-bottom: 60px;
}
#topTitle{
  border-bottom: 1px solid #d2d2d2;
  font-size: 40px;
  font-weight: bold;
  /*margin-top: 100px;*/
  padding-bottom: 55px;
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
#topText, #bottomContent, .endText {
  margin-top: 180px;
  /*background: #fff;*/
  color:#353535;
  margin-bottom: 60px;
  padding: 0px 110px 40px 110px;
  position: relative;
  font-size: 19px;
  font-weight:400;
  z-index: 4;
}
#loadingGif{
  margin-top: 40px;
}
#loadingGif img{
  margin: 0 auto;
  display: block;
  width: 60px;
}
#loadingText{
  display: block;
  margin: 0 auto;
  width: 47px;
  font-style: italic;
  color: #696969;
  margin-top: 16px;
  font-size: 14px;
}
.endText {
  margin: 0 auto;
  padding: 80px 80px 230px 80px;
  width: 1180px;
}

/*.endText:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 25%;
  left: 37.5%;
  bottom: 130px;
  border-bottom: 1px solid #d2d2d2;
}*/

#bottomTitle{
  font-weight: bold;
  margin-bottom: 10px;
}
#bottomContent{
  width: 1150px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 30px;
    border-top: 1px solid #d2d2d2;
}
#topHR{
  width: 130px;
  height: 6px;
  background-color: #1696d2;
  margin: 0 auto;
  margin-bottom: 20px;
}


p{
  line-height:1.6;
  margin-bottom:15px !important;
}
#sections {
  position: relative;
  display: inline-block;
  width: 500px;
  top: 0px;
  z-index: 2;
  padding-bottom: 20px;
  pointer-events: auto;
  margin-left: 40px;
}
.dummy.step{
  min-height: 10px;
  height: 10px;
}
.step {
  margin-bottom: 10vh;
  min-height: 80vh;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;

  line-height: 1.37;
  color: #353535;
}
.giantStep{
  margin-bottom: 30vh;
}
.smallStep{
  /*margin-bottom: 400px;*/
}
.title{
  font-size:18px;
   margin-top:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.subtitle{
  margin-top: -8px;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 8px;
}
#extra-space {
  height: 0px;
}

#narrativeVizContainer {
  display: inline-block;
  z-index: 1;
  margin-left: 0;
  position: relative;
  /*top: 730px;*/
  float: right;
}
#narrativeVizContainer svg{
  cursor: pointer;
}
#narrativeVizContainer svg.nonInteractive{
  cursor: auto;
}
#narrativeVizContainer.posFixed{
  position: fixed;
  top: 20px;
  /*want more space between words and chart, but i think changing this made your chart jump-sorry*/
  padding-left: 60px;
}
#narrativeVizContainer.posRelTop{
  position: absolute;
  float: right;
  padding-left: 60px;
    top: calc(100vh - 140px) !important;
    /*left: -29px !important;*/
}

#narrativeVizContainer.posRelBottom{
  position: relative;
  float: inherit;
  padding-left: 0px;
  bottom: -511px;
  left: 6px !important;
}
#narrativeVizContainer.posRelBottomSingleCol{
  position: absolute;
  float: inherit;
  padding-left: 10px;
}
#narrativeVizContainer.posRelTopSingleCol{
   position: absolute;
  float: inherit;
  padding-left: 10px;
}



footer{
  display: block;
    float: left;
    width: 100%;
}
footer p{
  clear: both;
}
.footerButton{
  margin-bottom: 30px;
}
.readResearchButton{
  margin-right: 10px;
}


.explore.medianTextG{
  display: none;
}
#logosContainers{
  margin-top: 40px;
}
#logosContainers img{
  display: inline-block;
  height: 84px;
  margin-right: 54px;
  margin-bottom: 50px;
}
#urbanLogo{
  margin-right: 0px;
}
#logosContainers img#sgLogo{
  height: 70px;
  position: relative;
  top: -8px;
}


/********header (below urban menu)**********/
#header-pinned{
  height: calc(100% - 160px);
  position: relative;
  z-index: 13;
}

.headerimage{
  /*position: relative;*/
  overflow: hidden;
  width: 100%;
  background: #062635;
  height: 100%;
  z-index:13;

}

.headerwrapper{
  /*padding-top:120px;*/
  height: calc(100% - 160px);
}



.div-title-block
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  width:90%;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4em;
  font-size: 2.3em;
  margin: auto;
}

#isMobile, #isPhone{
  display: none;
}

@media (max-width: 2000px) {

}
@media (max-width: 1200px){
  .container{
    margin-left: 10px;
  }
  #narrativeSchoolSelectorContainer{
    width: 100%;
  }
}
@media (max-width: 1170px){
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
  #topText, #bottomContent, .endText{
    font-size: 18px;
  }
#extra-space {
  height: 680px;
  z-index: -1;
}
  #sections{
    display: inherit;
    width: 400px;
    margin: 0 auto;
  }
  .step {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(210 210 210 / 90%) 4px 4px 12px 1px;
    padding: 30px;
    z-index: 3;
    min-height: 100px;
    margin-bottom: 800px;
  }
  .lastStep, .firstStep{
    /*opacity: 0 !important;*/
  }

  #bottomContent, #exploreBarContentWrapper {
    width: calc(100% - 40px) !important;
    padding: 20px !important;
  }
  .step.lastStep{
    /*margin-bottom: 0px;*/
  }

  #narrativeVizContainer{
    /*position: fixed;*/
    /*top: 20px;*/
  }

  #narrativeVizContainer.posFixed{
    padding-left: 20px;
  }


}

@media (max-width: 991px) {

   /*.headerwrapper{padding-top:125px;}*/

}

@media(max-width: 975px){

}


@media (max-width: 930px){
/*  .headerimage {
    height: 350px !important;
  }
*/
  #topText, #bottomContent{
    /*margin-top: -60px;*/
  }
}

@media (max-height: 880px){
  #isShort{
    display: block;
  }
  #narrativeVizContainer.posRelBottom{
    bottom: -511px;
    left: 6px !important;
  }


/*  .scatterButton{
    bottom: 80px;
  }*/
}


@media  (max-width: 768px){
  #isPhone{
    display: block;
  }
  #mobileButtonContainer{
    /*display: none;*/
    bottom: -10px;
    left: 0px;
  }

  #narrativeVizContainer.posFixed{
    left: 0px !important;
  }
  #narrativeChooseSchoolContainer{
    display: none !important;
  }
  #topText{
    padding: 0px;
  }

.endText{
    padding-top: 0px;
    margin-top: -1330px;
}
#extra-space{
  height: 0px;
}


}


@media (max-width: 768px){
  .step {
    margin-bottom: 1200px;
  }
  #topTitle {
    font-size: 24px;
  }
  .endText{
    /*padding: 10px;*/
    margin-top: -710px;
  }
}

@media (max-width: 500px){

  #topText, #bottomContent, .endText{
    margin-top: 0px;
    padding: 0px;
  }
  #sections{
    width: 70vw;
    /*left: -20px;*/
  }
}

@media (max-width: 600px){
  #topTitle { padding-bottom: 20px; }
}
@media (max-width: 600px) {
   .div-title-block {
    font-size: 1.6em !important;
   }
}
@media  (max-width: 480px) {
  .full-width-col { font-size:18px;}
   .container {margin-bottom: 40px; padding:0px 4px;}
   /*.headerwrapper{padding-top:80px;}*/
   h1 { font-size:24px;}

}

@media (max-width: 350px){
  #sections{
    /*width: 300px;*/
    left: -20px;
    /*pointer-events: none;*/
  }
}













